.pyc #Ignore python cache
.env #Ignore environment variables
47_amazon_price_tracker/.env
34_quizzler/__pycache__/ui.cpython-313.pyc
.gitignore
34_quizzler/__pycache__/question_model.cpython-313.pyc
34_quizzler/__pycache__/quiz_brain.cpython-313.pyc
34_quizzler/__pycache__/data.cpython-313.pyc
